*~
data/nyc_taxi_rt.parq
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
lib/
lib64/
sdist/
*.egg

# Unit test / coverage reports
.cache

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

Pipfile.lock

poetry.lock

# SageMath parsed files
*.sage.py

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
